/* Typography imported from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Styling Variables */
:root {
  --accent-color: rgb(245, 186, 164);
  --body-typeface: "Inter", sans-serif;
  --main-heading: "Inter", sans-serif;
  --text-color: #000000;
  --link-color: #222222;
  --hover-color: #ff0000;
  --page-background-color: #ffffff;
  --button-border-color: #000000;
  --title-bloc: #0b00a8;
  --title-bruit: #df19a3;
  --title-inbetween: #02a67b;
  --title-radio: #f71515;
  --title-viktor: #ffe600;
  --title-germination: #f3ca14;
}


/* Global and mobile styles – for large devices scroll to the bottom */

body {
  min-height: 100vh;
  background: lightcyan;
  color: var(--text-color);
  font-family: var(--body-typeface);
}


/* Making all images responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
  /* Removes bottom gap */
}


/* Typography 

████████ ██    ██ ██████   ██████   ██████  ██████   █████  ██████  ██   ██ ██    ██ 
   ██     ██  ██  ██   ██ ██    ██ ██       ██   ██ ██   ██ ██   ██ ██   ██  ██  ██  
   ██      ████   ██████  ██    ██ ██   ███ ██████  ███████ ██████  ███████   ████   
   ██       ██    ██      ██    ██ ██    ██ ██   ██ ██   ██ ██      ██   ██    ██    
   ██       ██    ██       ██████   ██████  ██   ██ ██   ██ ██      ██   ██    ██    
                                                                                     
*/

h1 {
  font-size: 6em;
  font-family: var(--main-heading);
  margin-bottom: .2em;
}

h2 {
  font-size: 2em;
}

h3 {
  color: var(--accent-color);
}

h4 {}

p {
  margin-bottom: 1em;
  line-height: 1.2
}

p:last-child,
.last-paragraph {
  margin-bottom: 0;
}

/* Hyperlink Styles */
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}


.title-bloc {
  color: var(--title-bloc);
  font-size: 3rem;
}

.title-bruit {
  color: var(--title-bruit);
  font-size: 3rem;
}

.title-inbetween {
  color: var(--title-inbetween);
  font-size: 3rem;
}

.title-radio {
  color: var(--title-radio);
  font-size: 3rem;
}

.title-viktor {
  color: var(--title-viktor);
  font-size: 3rem;
}


.title-germination {
  color: var(--title-germination);
  font-size: 3rem;
}

/* Work Page Layout */

.work-wrapper {
  flex: 1;
  /* z-index: 20; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.portfolio {
  padding: 1rem;
}

/* Work page buttons */

.project-navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* vertical */
  justify-content: center;
  /* horizontal */
  max-width: 90vw;
  min-height: 10vh;
}

.navigation-button {
  border: 2px solid var(--button-border-color);
  border-radius: 2em;
  padding: .5rem 1rem;
  margin: .2rem;
}

/* Delete this when all the images are in */
.project-preview {
  min-height: 100vh;
  background: red;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.section {
  /* background: blue; */
  min-height: 100vh;
  width: 100%;
  /* z-index: -20; */
  padding: 1em;
}



.hero-footer {
  color: white;
}


/* Global and Mobile Footer Styles */

.brand-icon-wrapper {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-icon {
  width: 30vw;

}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: url(branding-assets/coralie-mayer-branding-gradient-orb.png) no-repeat bottom center;
  background-size: 100%;
}

.footer-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  align-items: center;
}

.global-footer-branding {
  width: 100vw;

}

.global-footer-bio {
  width: 100vw;
  align-items: flex-start;
  text-align: left;
  padding: 2rem;
}

.global-footer-social {
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
}


.social-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: .475rem;
}

.social-item {
  padding: .2rem;
}



/* Hero Styles */
.hero-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}

.hero-image {
  background: hotpink;
}

.header-navigation-item {
  width: 20vw;
  background: rgb(245, 186, 164);
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* Main Project Area */

.project-wrapper {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1em;
  flex-direction: column;
  /* Column for mobile */
}

.project-aside {
  width: 100%;
  color: black;
  background: white;
  padding: 1em;
}

.project-navigation {
  display: flex;
  flex-direction: row;
}

.arrow {
  padding-right: 1em;
}

.project-details {
  width: 100%;
  padding: 1em;
}


/* Original Starter Template Hero Styles */
/* Hero */

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: rgb(238, 174, 174);
  background: linear-gradient(to top, #FD0100, #FF657E); */

}

.branding-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.logo {
  width: 3em;
}


.hero-headline-wrapper {
  z-index: 100;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2em 4em;
  text-align: center;
  flex-direction: column;
}

.hero-headline {
  font-size: 3em;
}


/* Hero


██   ██ ███████ ██████   ██████  
██   ██ ██      ██   ██ ██    ██ 
███████ █████   ██████  ██    ██ 
██   ██ ██      ██   ██ ██    ██ 
██   ██ ███████ ██   ██  ██████  
                                 
                                 


*/

.hero-wrapper {
  position: relative;
}


.down-arrow {
  margin-top: 20vh;
}

/*

██████  ██       ██████  ██████  
██   ██ ██      ██    ██ ██   ██ 
██████  ██      ██    ██ ██████  
██   ██ ██      ██    ██ ██   ██ 
██████  ███████  ██████  ██████  
                                                               
*/


.hero-blob {
  background: linear-gradient(to top, #FD0100, #FF657E);
  width: 100%;
  min-height: 120vh;
  box-shadow: 0px 0px 500px darkred;
  animation: blob 15s linear alternate infinite, 100s alternate infinite;
  margin-top: 40vh;
  filter: blur(30px);
  margin-bottom: -40vh;
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.8; */
  z-index: -100;
  /* for demo purpose  */

}

/* Frames for the blog */
/* Fancy CSS Blob Generator https://9elements.github.io/fancy-border-radius/ */

@keyframes blob {
  0% {
    border-radius: 71% 29% 41% 59% / 60% 49% 51% 40%;
  }

  20% {
    border-radius: 50% 40% 50% / 40% 50% 40%;
  }

  40% {
    border-radius: 40% 50% 90% / 50% 40% 50%;
  }

  60% {
    border-radius: 30% 70% 70% 30% / 42% 30% 70% 58%;
  }

  80% {
    border-radius: 90% 50% 40% / 50% 40% 50%;
  }

  100% {
    border-radius: 50% 40% 50% / 40% 50% 40%;
  }
}





/* Project Page


██████  ██████   ██████       ██ ███████  ██████ ████████     ██████   █████   ██████  ███████ ███████ 
██   ██ ██   ██ ██    ██      ██ ██      ██         ██        ██   ██ ██   ██ ██       ██      ██      
██████  ██████  ██    ██      ██ █████   ██         ██        ██████  ███████ ██   ███ █████   ███████ 
██      ██   ██ ██    ██ ██   ██ ██      ██         ██        ██      ██   ██ ██    ██ ██           ██ 
██      ██   ██  ██████   █████  ███████  ██████    ██        ██      ██   ██  ██████  ███████ ███████ 
                                                                                                       
                                                                                                      
*/





/*

 █████  ██████   ██████  ██    ██ ████████ 
██   ██ ██   ██ ██    ██ ██    ██    ██    
███████ ██████  ██    ██ ██    ██    ██    
██   ██ ██   ██ ██    ██ ██    ██    ██    
██   ██ ██████   ██████   ██████     ██    
                                           

*/


/* Page layout */
.about-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #f0f8ff;
}

.about-footer-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.about-content,
.education,
.experience {
  margin: 0.5rem;
  background: #fff;
  padding: 1rem;
}

.education,
.experience {
  width: 50%;
}

/* The effect */
.photo-container {
  width: 30vw;
  min-height: 100vh;
  position: relative;
  display: inline-block;
  background: #f0f8ff;
  padding: 0.5rem;
}

.photo-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0.5rem;
}

.photo-container:hover .photo-hover {
  display: inline-block;
}


/*


███    ███ ███████ ██████  ██  █████       ██████  ██    ██ ███████ ██████  ██ ███████ ███████ 
████  ████ ██      ██   ██ ██ ██   ██     ██    ██ ██    ██ ██      ██   ██ ██ ██      ██      
██ ████ ██ █████   ██   ██ ██ ███████     ██    ██ ██    ██ █████   ██████  ██ █████   ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██     ██ ▄▄ ██ ██    ██ ██      ██   ██ ██ ██           ██ 
██      ██ ███████ ██████  ██ ██   ██      ██████   ██████  ███████ ██   ██ ██ ███████ ███████ 
                                              ▀▀                                               
                                                                                               
*/



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  body {
    background: var(--hover-color);
  }

  .project-navigation-buttons {
    max-width: 65vw;
  }

  .hero-headline-wrapper {
    padding: 4em 8em;
  }




  .project-wrapper {
    flex-direction: row;
    /* Row for large screens */
  }

  .project-aside {
    width: 35vw;
    height: 40vh;
    position: sticky;
    top: 5vh;
  }


  .project-details {
    width: 65vw;
  }




  /* Global Footer */



  .hero-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .hero-image {
    background: hotpink;
  }

  .header-navigation-item {
    width: 20vw;

  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
  }

  /* Global Footer Styles on large devices */
  .brand-icon-wrapper {
    width: 100%;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -40vh;
  }

  .brand-icon {
    width: 30vw;

  }




  .main-footer {
    align-items: flex-end;
    min-height: 80vh;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;

  }

  .footer-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 25vh;
  }

  .global-footer-branding {
    width: 30vw;
  }

  .global-footer-bio {
    width: 30vw;
    margin-right: 20vw;
    align-items: flex-start;
    text-align: left;
    padding: 0;
  }

  .global-footer-social {
    width: 20vw;
    align-items: flex-start;
    justify-content: flex-end;
  }


  .social-menu {
    flex-direction: row;
  }






}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  body {
    background: var(--page-background-color);
  }


}